@charset "utf-8";

nav .container{
  background-color: #2596FF;
  /* background-color: #FFFF; */
}

nav .navbar-brand{
  font-size: 48px;
  font-family: serif;
  text-align: center;
}


.performance {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0px;
  margin-right: 0px;
  
}
