
.title_top{
	display: flex;
	margin: 40px;
}

#preview{
	width: 300px;
	margin-right: 50px;
	flex: 1;
}

.title_name{
	font-size: 48px;
	position: relative;
	flex: 3;
}

.author_name{
	font-size: 24px;
	position: absolute;
	right:40%;
	margin-top: 20px;
}

.favorite_registration{
	display: flex;
	margin: auto;
	justify-content: center;
	margin-top: 30px;
}

.favorite_registration button{
	margin-top: 10px;
	width: 70%;
	font-size: 24px;
}