.main{
	width: 60%;
	margin: auto;
}


.title_top{
	display: flex;
	margin-top: 40px;
}

#preview{
	width: 200px;
	height: 200px;
	margin-right: 50px;
}

.title_name{
	font-size: 48px;
	position: relative;
	margin-left: 40px;
	
}

.author_name{
	font-size: 24px;
	position: absolute;
	margin-left: 100%;
	margin-top: 60px;
	white-space: nowrap;
}

.subtitle{
	margin-top: 48px;
	background-color: #ffff;
	list-style-type: none;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
}
.subtitles{
	display: flex;
	font-size:  28px;
	justify-content: space-between;
  flex-wrap: wrap;
}


.favorite_registration{
	display: flex;
	margin: auto;
	justify-content: center;
	margin-top: 30px;
}

.favorite_registration button{
	margin-top: 10px;
	width: 70%;
	font-size: 24px;
}